body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

/* top header part start */
.top-header{
    background-image: url('../imges/top-banner.png');
    background-repeat: no-repeat;
}
section{
    display: inline-block;
}
.half-width h1{
    font-weight: bold;
    font-size: 50px;
}
h2 span{
    color: red;
    font-weight: bold;
    font-size: 50px;
}
.half-width h3{
    color: blueviolet;
    font-size: 22px;
    font-weight: 500;
    margin-top: 15px;
}
}
.half-width p{
    font-weight: 400;
    font-size: 16px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.half-width a{
    background-color:goldenrod;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    color: white;
}

/* top header part end */

    /* body-part-start */

.body-part{
    margin-top: 15px;
    background-image: url("../imges/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.dream{
    font-size: 50px;
}

    /* body-part-end */

    /* footer-part-start  */

.footer-had-text{
    font-size: 35px !important;
}
.footer-part{
    background-image: url("../imges/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    height: 600px;
}
.single-experiences{
    background-color: white;
    box-shadow: 10px 10px 40px grey;
    border-radius: 8px;
    height: 350px;
}
#box-1{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#box-2{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
footer> p{
    text-align: center;
    font-size: 14px;
    color: 50%;
}